.bgImage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: url("https://img3.goodfon.com/wallpaper/nbig/9/b0/priroda-rasteniya-dorozhka-list.jpg");
  background-size: cover;
}

.taskList {
  list-style: none;
  padding: 0 15px;
}

.taskCheckbox {
  height: 100%;
  width: 20px;
  float: left;
}

.task {
  margin-right: 0;
}

.taskTitle {
  font-size: 1.1rem;
  border: 0;
  outline: none;
  background: transparent;
  width: 80%;
  letter-spacing: 1px;
}

.taskItems {
  width: 100%;
  padding: 10px 10px;
  border-bottom: 1px solid grey;
  background-color: #e0e0e0;
}

.buttons {
  float: right;
}

.taskBtn {
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
}

.completed {
  color: #ffff;
  background-color: #5cb85c;
  text-decoration: line-through;
  transition: 0.4s ease-out;
}

.lineThrough {
  text-decoration: line-through;
  color: #ffff;
}

@media (max-width: 600px) {
  .taskTitle {
    width: 65%;
  }
}
